@{
    ViewBag.Title = "Contact";
}

<style>
    #particles-js {
        height: 100%;
        position: absolute;
    }

    .particles-div {
        top: 5%;
        right: 0%;
        width: 100%;
        z-index: -100;
    }
</style>

<div id="particles-js" class="particles-div"></div>

<h2>Контакти</h2>
<h3>Факултет по математика и информатика</h3>
<h4>Пловдивски университет „Паисий Хилендарски“</h4>

<div>
    <address>
        бул. „България“ 236А<br />
        4027, гр. Пловдив<br />
        телефон: 032 261 755
    </address>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4695.108335488247!2d24.712308917018078!3d42.155994995494105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acce207225c511%3A0xe172fabb3d4ca270!2z0J_Qu9C-0LLQtNC40LLRgdC60Lgg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDigJ7Qn9Cw0LjRgdC40Lkg0KXQuNC70LXQvdC00LDRgNGB0LrQuOKAnCDigJMg0KTQsNC60YPQu9GC0LXRgiDQv9C-INCc0LDRgtC10LzQsNGC0LjQutCwINC4INCY0L3RhNC-0YDQvNCw0YLQuNC60LA!5e0!3m2!1sbg!2sbg!4v1672605539379!5m2!1sbg!2sbg"
        width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>

<script src="~/Scripts/particles.js"></script>
<script src="~/Scripts/app.js"></script>