@model IEnumerable<UniCheckManagementSystem.Models.Specialty>

@{
    ViewBag.Title = "Reports";
}

<h2>Доклади</h2>

<table class="table table-striped table-hover">
    <tr class="active">
        <th>
            Специалност
        </th>
        <th>
            Доклади
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <p>
                    @Html.ActionLink("Експорт в Excel", "Reports", new { selectedReportType = "Excel", id = item.SpecialtyId }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Експорт в Word", "Reports", new { selectedReportType = "Word", id = item.SpecialtyId }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Експорт в PDF", "Reports", new { selectedReportType = "PDF", id = item.SpecialtyId }, new { @class = "btn btn-info btn-sm" })
                </p>
            </td>
        </tr>
    }
</table>
